/* .search-area{ 
    display:grid; 
    grid-template-columns: 1fr 1fr;
} */
.search{
    background-color: rgb(255, 255, 255);
    height:40px;
    margin: 15px 70% 0 2px;
    width:15vw;
}
.search:hover{ 
    background-color: rgb(247, 239, 239);
    border-color:red;
    border-radius: 15px;
    margin: 15px 70% 0 3%;
    width: 17vw;
}
.search::placeholder{ 
    font-family: 'Courier New', Courier, monospace;
    font-size:  20px;
    font-weight: bold;
    margin-left: 15px;

}
.search-icon{ 
    margin-right: 40%;
    margin-top: -50px;  
}
